.content-image-block{
   text-align: center;
   a{

      display: inline-block;
      vertical-align: top;
      outline: none;
      overflow: hidden;
      margin-left: 7px;
      margin-right: 7px;
      &:first-of-type{
         margin-left: 0;
      }
      &:last-of-type{
         margin-right: 0;
      }
   }
   /* img{
     @include transition(500);
     &:hover{
        @include transform_scale(1.03, 1.03);
     }
       } */
}
