.page-content__inner {
   background: rgba(255, 255, 255,0.9);
   padding: 27px 45px 27px 30px;
   height: 100%;
   position: relative;
}

.content-main__header {
   color: #000000;
   font-size: 20px;
   font-weight: 400;
   text-transform: uppercase;
   margin-top: 0;
   margin-bottom: 0;
}

