.btn {
   text-transform: uppercase;
   border: 2px solid #ccc;
   background: transparent;
   padding: 7px 15px ;
   font: 16px $open-sans;
   color: #333;
   text-decoration: none;
   cursor: pointer;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   margin: 10px;
   outline: 0;
}

.content-container__title {
   display: inline-block;
   margin-top: 0;
   margin-bottom: 0;
   margin-left: 8px;
   vertical-align: middle;
   color: #39404c;
   font-size: 36px;
   font-weight: 400;
   width: 370px;
   line-height: 1.1;
   text-transform: uppercase;
}

.content-block {
   margin-top: 20px;
   /*&:last-of-type {
      margin-top: 40px;
   }*/
}

.content-block.calendar {
   //width: 308px;
   //text-align: center;
   ///*background: #526b8b;*/
   //padding: 10px 19px 17px 17px;
   //border-radius: 5px;
   .content-container__subtitle {
      color: #ffffff;
      margin-bottom: 7px;
      width: auto;
   }
}

.content-container__subtitle {
   color: #000000;
   font-size: 22px;
   font-weight: 400;
   margin-top: 0;
   margin-bottom: 0;
   width: 381px;
   line-height: 1.2;
}

.content-container__icon {
   display: inline-block;
   width: 67px;
   height: 59px;
}

.content-block__date {
   margin-top: 17px;
}

.content-block__label {
   font-size: 16px;
   font-weight: 400;
}

.content-block__current-date {
   display: inline-block;
   font-size: 18px;
   font-weight: 700;
   &:after {
      content: "";
      display: inline-block;
      vertical-align: middle;
      width: 27px;
      height: 29px;
      margin: -7px 0 0 7px;
      background: url("../../../img/icondate.png") no-repeat;
   }
}

.tags-block {
   max-width: 376px;
   margin-top: 10px;

   .chosen-container {
      width: 350px!important;
   }
}

.tags-block.category {
   .tag {
      @include transition(200);
      &:hover {
         background: #63b7df;
         color: #ffffff;
         border: 1px solid #4aa1ca;
      }
   }
}

.tags-block.status {
   .tag {
      @include transition(200);
      &:hover {
         background: #e0aa4c;
         color: #ffffff;
         border: 1px solid #d09939;
      }
   }
}

.tag {
   cursor: pointer;
   display: inline-block;
   text-align: center;
   box-sizing: border-box;
   color: #000000;
   padding: 3px 11px 4px 11px;
   border-radius: 5px;
   /* text-transform: uppercase; */
   border: 1px solid #979ea9;
   background-color: #ffffff;
   margin-bottom: 10px;
   margin-right: 3px;
   font-size: 15px;
   font-weight: 400;
}

.page-content__post-tag {
   color: #2685b2;
   font-size: 14px;
   font-weight: 400;
   text-transform: uppercase;
   margin-top: 10px;
}

.search-row {
   display: inline-block;
   width: 86%;
   height: 41px;
   border: 1px solid #dddddd;
   background-color: #ffffff;
   padding: 3px 7px;
   margin-right: 10px;
}

.search-btn {
   display: inline-block;
   width: 75px;
   height: 40px;
   background-color: #466485;
   border: none;
   color: #ffffff;
   text-transform: uppercase;
   cursor: pointer;
}

.page-content__userlink {

}

.form-search {
   display: flex;
   justify-content: space-between;
   width: 88%;
   margin-right: 10px;
}

.add-btn {
   display: block;
  /* float: right;*/
   width: 76px;
   height: 40px;
   background: #63b7df url(../../../img/add2.png)no-repeat center;
   @include transition(300);
}



@media (max-width: 1400px) {
   .content-container__title {

   }
}

