.cr-tabs__content {
  position: relative;
  height: 100%;
  display: none;
  z-index: 2;
}
._tab-cont-visible {
  display: block;
}
._tab-active {
  z-index: 3 !important;
  a {
    border: 2px solid #fff !important;
  }
}

.subjects-tab {
  background: #40bb26;
}
.classes-tab {
  background: #4e3882;
}
.teachers-tab {
  background: #4b9ed0;
}
.lessons-tab {
  background: #e4ac02;
}
.excellents-tab {
  background: #e85921;
}