
.layout-links_profile {
   position: absolute;
   right: 0;
   top: 5px;
}

.layout-links_search {
   position: absolute;
   right: 0;
   top: 100px;
}

.layout-links__item {
   display: block;
   letter-spacing: -4px;
   @include transition(500);
   &:first-of-type {
      text-align: right;
      //position: relative;
      //z-index: 10000;
   }
   &:last-of-type {
      margin-top: 15px;
     /* position: relative;
      z-index: 10000;*/
   }
}
//
//.sidebar-profile {
//   position: absolute;
//   right: 0;
//   top: 20px;
//}
//
.sidebar-search {
   position: relative;
   z-index: 10000;
}

.sidebar-profile {
   position: relative;
   z-index: 1001;
}

.layout-links__item_opened{
    @include transform_translateX(0%);
}

.layout-links__item_closed-profile{
    @include transform_translateX(80%);
}

.layout-links__item_closed-search{
   @include transform_translateX(93%);
}

.layout-link {
   display: inline-block;
   vertical-align: top;
   cursor: pointer;
   letter-spacing: 0;
   /*border-top-left-radius: 10px;
   border-bottom-left-radius: 10px;*/
   width: 71px;
   height: 77px;
   background-color: #3a4c64;
   position: relative;
   @include transition(300);
   &:last-of-type {
      margin-top: 10px;
   }
   &:hover {
      background-color: #59c2f1;
   }
   img {
      position: absolute;
      width: 35px;
      height: 39px;
      top: 25%;
      left: 29%;
   }
}

.layout-content-profile {
   letter-spacing: 0;
   vertical-align: top;
   display: inline-block;
   background: #ffffff;
   width: 275px;
   height: 77px;
   text-align: left;
   img {
      display: inline-block;
      vertical-align: middle;
      width: 62px;
      height: 62px;
      margin-top: 7px;
      margin-right: 10px;
      margin-left: 10px;
   }
}

.layout-content-user {
   display: inline-block;
   vertical-align: middle;
   text-align: left;
}

.layout-content-user__name {
   width: 170px;
   font-size: 14px;
   font-weight: 400;
   line-height: 1.1;
   margin-bottom: 7px;
}

.layout-content-user__actions {
   a {
      padding: 2px 10px;
      &:last-of-type {
         margin-left: 8px;
      }
   }
}

.layout-content-user__profile {
   width: 83px;
   height: 25px;
   border: 1px solid #4ca8cb;
   @include transition(300);
   color: #4ca8cb;
   &:hover {
      background: #4ca8cb;
      color: #ffffff;
   }
}

.layout-content-user__exit {
   width: 83px;
   height: 25px;
   border: 1px solid #4ca8cb;
   background: #ffffff;
   @include transition(300);
   color: #4ca8cb;
   cursor: pointer;
   &:hover {
      background: #4ca8cb;
      color: #ffffff;
   }
}

.layout-content-search {
   display: inline-block;
   vertical-align: top;
   width: 919px;
   background: #ffffff;
   letter-spacing: 0;

   input {
      border: 1px solid #dddddd;
      width: 100%;
      outline: 0;
      font-size: 16px;
      font-weight: 300;
      padding: 10px 15px;
      background: url(../../../img/search.png) no-repeat 870px 9px;
   }
}

.layout-content-search__block {
   text-align: center;
}

.layout-content-search__top {
   padding-bottom: 33px;
   .advance-search {
      color: #000000;
      float: right;
      margin-top: 5px;
      margin-right: 25px;
      &:hover {
         text-decoration: underline;
      }
      &:after {
         content: "";
         display: inline-block;
         width: 15px;
         height: 9px;
         margin-left: 10px;
         background: url(../../../img/search-down.png)no-repeat;
      }
   }
   .close-search {
      position: absolute;
      right: 25px;
      top: 52px;
      display: none;
      &:after{
         content: "";
         display: inline-block;
         width: 20px;
         height: 22px;
         margin-left: 10px;
         background: url(../../../img/search-close.png)no-repeat;
      }
   }

}

.block-hide {
   display: none;
}

.block-show {
   display: block;
}

.layout-content-search__block-column {
   display: inline-block;
   vertical-align: top;
   width: 412px;
   text-align: left;
   margin: 0 10px;
}

.layout-content-search__block-row {
   margin-bottom: 10px;
   input {
      width: 97.5%!important;
   }
}

.layout-content-search__block-row-item {
   width: 40%;
   display: inline-block;
   vertical-align: top;
   background: url(../../../img/icondate.png) no-repeat 130px 27px;
   background-size: 25px;
   &:last-of-type {
      margin-left: 35px;
   }
}

.layout-content-search__label {
   display: block;
   font-size: 14px;
   font-weight: 400;
   color: #000000;
   margin-bottom: 5px;
}

.search-box {
   input {
      padding: 5px 7px;
      width: 100%;
   }
}
 .search-button {
    margin-top: 5px;
    color: #ffffff;
    text-transform: uppercase;
    width: 105px;
    height: 39px;
    border: 1px solid #e8e8e8;
    background-color: #466485;
    cursor: pointer;
    margin-bottom: 20px;
    @include transition(300);
    &:hover {
       background: lighten(#466485, 15%);
    }
 }