.links-block {
   letter-spacing: -4px;
}

.link-block__item {
   letter-spacing: 0;
   width: 33.3%;
   display: inline-block;
   vertical-align: top;
   height: 265px;
   text-align: center;
   will-change: transform;
   padding: 0px 10px;
   @include transition(300);
   &:hover {
      will-change: transform;
      position: relative;
      z-index: 100000;
      box-shadow: -8px 10px 10px rgba(2, 2, 2, 0.58);
      @include transform_scale(1.01, 1.01, 1.01);
      .link-block__item-label,.link-block__item-alert {
         color: #3a4c64;
      }
   }

   &:first-of-type {
      background: rgba(93, 200, 247, 0.8) url(../../../img/svg/notice2.svg)no-repeat center 35px;
      &:hover {
         background: #ffffff url(../../../img/svg/notice.svg) no-repeat center 35px;
      }
   }
   &:nth-of-type(2) {
      background: rgba(72, 90, 119, 0.9) url(../../../img/svg/messages2.svg)no-repeat center 35px;
      &:hover {
         background: #ffffff url(../../../img/svg/messages.svg) no-repeat center 35px;
      }
   }
   &:nth-of-type(3) {
      background: rgba(93, 200, 247, 0.8) url(../../../img/svg/doc2.svg)no-repeat center 35px;
      &:hover {
         background: #ffffff url(../../../img/svg/doc.svg) no-repeat center 35px;
      }
   }
   &:nth-of-type(4) {
      background: rgba(72, 90, 119, 0.9) url(../../../img/svg/events2.svg)no-repeat center 35px;
      &:hover {
         background: #ffffff url(../../../img/svg/events.svg) no-repeat center 35px;
      }
   }
   &:nth-of-type(5) {
      background: rgba(93, 200, 247, 0.8) url(../../../img/svg/user2.svg)no-repeat center 35px;
      &:hover {
         background: #ffffff url(../../../img/svg/user.svg) no-repeat center 35px;
      }
   }
   &:nth-of-type(6) {
      background: rgba(72, 90, 119, 0.9) url(../../../img/svg/settings2.svg)no-repeat center 35px;
      .link-block__item-label {
         display: block;
      }
      &:hover {
         background: #ffffff url(../../../img/svg/settings.svg) no-repeat center 35px;
      }
   }

   &-label {
      font-size: 22px;
      font-weight: 400;
      text-transform: uppercase;
      color: #ffffff;
      margin-top: 140px;
   }
   &-alert {
      color: #ffffff;
      font-size: 18px;
      margin-top: 15px;
   }
   &-icon{
      margin-top: 35px;
      margin-bottom: 40px;
   }
}

.slick-track {
   .slick-active {
      &:first-of-type {
         background: #000000;
      }

   }
}
